<%- include header.ejs %>
<div class="bodyContainer">
    <div class="container">

        <h1 class="text-center mb-5">Product</h1>
        <div class="row col-sm-12 col-md-12  col-lg-12">

            <% _.each(items, function(product) { %>
            <div class="col-sm-8 col-md-8">
                <img src="/images/<%= product.image_groups[0].images[0].link %>">
            </div>
            <div class="col-sm-4 col-md-4">
                <h3><%= product.name %></h3>
                <h4>Price: <%= product.price %>$</h4>
                <p><%= product.page_description%></p>
            </div>

            <% }); %>
        </div>
    </div>
</div>
</div>
<%- include footer.ejs %>