<%- include header.ejs %>

<div class="container">
    <div class="row col-12 mt-5">
        <% _.each(items, function(product) { %>
        <div class="row col-sm-12  col-md-8">
            <div class=" col-2">
                <a class="arrowButton" onclick="plusSlides(-1)"><i class="up"></i></a>
                <% let i = 1%>
                <% _.each(product.image_groups[0].images, function(image) { %>
                <img class="smallSlidesImages" src="/images/<%= image.link %>" onclick="currentSlide(<%= i %>)">
                <% ++i; }); %>
                <a class="arrowButton" onclick="plusSlides(1)"><i class="down"></i></a>
            </div>
            <div class="col-10">
                <% _.each(product.image_groups[0].images, function(image) { %>
                <div class="mySlides">
                    <img class="mainSlidesImage" src="/images/<%= image.link %>">
                </div>
                <% }); %>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <h3><%= product.name %></h3>
            <h4>Price: <%= product.price %> <%= product.currency %></h4>
            <p><%= product.page_description %></p>
            <% if(currentPrice){ %>
                <p><%= currentPrice %></p>
            <% } else{ %>
                <p><%= product.price %></p>
            <% } %>
            
            <form action="<%= path %>" method="?GET">
                 <select name="currencies" onchange="this.form.submit()">
                     <% if(selectedValue === 'BGN'){ %>
                        <option value="USD">USD</option>
                        <option value="BGN" selected>BGN</option>
                        <option value="EUR">EUR</option>
                     <% } else if (selectedValue === 'EUR') { %>
                        <option value="USD">USD</option>
                        <option value="BGN">BGN</option>
                        <option value="EUR" selected>EUR</option>
                     <% } else { %>
                        <option value="USD" selected>USD</option>
                        <option value="BGN">BGN</option>
                        <option value="EUR">EUR</option>
                     <% } %>
                </select> 
            </form>
        </div>
        <% }); %>
    </div>
</div>


<%- include footer.ejs %>